.sidebarContainer {
    min-width: 200px !important;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    color: white !important;
    height: 100vh;
    border-right: 1px solid white;
    overflow-x: scroll;
}

.usersContainer {
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
}

.invite {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    align-items: center;
}